In [73]:
import pandas as pd

In [74]:
house_clusters = pd.read_csv(r"D:\VIT\Semester-7 (Fall)\CSE1901 - Capstone Project\Code\08-03-2023 Final load forecasting\dataset_repre_houses.csv")
house_clusters = house_clusters.drop(["Unnamed: 0", "min_dist"], axis=1)
house_clusters.nunique()

LCLid            3059
energy_avg       3059
temp_avg          786
humidity_avg      775
windspeed_avg     786
holiday_avg       500
clusters            6
dtype: int64

In [75]:
k = house_clusters.nunique()['clusters'] 
k

6

In [76]:
energy_dataset = pd.read_csv(r"D:\VIT\Semester-7 (Fall)\CSE1901 - Capstone Project\Code\EDA and Modelling\energy_total.csv")
energy_dataset.drop(energy_dataset.columns[[0]], axis=1, inplace=True)
energy_dataset

                day      LCLid  energy_sum
0        2012-10-12  MAC000002       7.098
1        2012-10-13  MAC000002      11.087
2        2012-10-14  MAC000002      13.223
3        2012-10-15  MAC000002      10.257
4        2012-10-16  MAC000002       9.769
...             ...        ...         ...
3510428  2014-02-24  MAC004828       2.587
3510429  2014-02-25  MAC004828       0.720
3510430  2014-02-26  MAC004828       1.051
3510431  2014-02-27  MAC004828       0.736
3510432  2014-02-28  MAC004828       0.000

[3510433 rows x 3 columns]

In [77]:
energy_dataset['day'] = pd.to_datetime(energy_dataset['day'],format='%Y-%m-%d').dt.date
energy_dataset

                day      LCLid  energy_sum
0        2012-10-12  MAC000002       7.098
1        2012-10-13  MAC000002      11.087
2        2012-10-14  MAC000002      13.223
3        2012-10-15  MAC000002      10.257
4        2012-10-16  MAC000002       9.769
...             ...        ...         ...
3510428  2014-02-24  MAC004828       2.587
3510429  2014-02-25  MAC004828       0.720
3510430  2014-02-26  MAC004828       1.051
3510431  2014-02-27  MAC004828       0.736
3510432  2014-02-28  MAC004828       0.000

[3510433 rows x 3 columns]

In [78]:
weather = pd.read_csv("D:\VIT\Semester-7 (Fall)\CSE1901 - Capstone Project\Dataset\weather_daily_darksky.csv")
weather.head()

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99

In [79]:
weather['day']=  pd.to_datetime(weather['time'])
weather['day']=  pd.to_datetime(weather['day'],format='%Y%m%d').dt.date
weather = weather[['temperatureMax', 'windSpeed', 'humidity', 'day']]
weather = weather.dropna()
weather

     temperatureMax  windSpeed  humidity         day
0             11.96       3.88      0.95  2011-11-11
1              8.59       3.94      0.88  2011-12-11
2             10.33       3.54      0.74  2011-12-27
3              8.07       3.00      0.87  2011-12-02
4              8.22       4.46      0.80  2011-12-24
..              ...        ...       ...         ...
877            9.03       4.55      0.79  2014-01-26
878           10.31       4.14      0.74  2014-02-27
879           18.97       2.78      0.58  2014-03-09
880            8.83       7.24      0.75  2014-02-12
881            9.90       9.96      0.69  2014-02-15

[882 rows x 4 columns]

In [80]:
weather_energy =  energy_dataset.merge(weather,on='day')
weather_energy

,day,LCLid,energy_sum,temperatureMax,windSpeed,humidity
0,2012-10-12,MAC000002,7.098,11.53,2.18,0.84
1,2012-10-12,MAC000246,17.245,11.53,2.18,0.84
2,2012-10-12,MAC000450,91.267,11.53,2.18,0.84
3,2012-10-12,MAC001074,23.145,11.53,2.18,0.84
4,2012-10-12,MAC003223,15.783,11.53,2.18,0.84
...,...,...,...,...,...,...
3506313,2011-11-27,MAC000154,8.905,13.54,5.48,0.72
3506314,2011-11-27,MAC000166,11.077,13.54,5.48,0.72
3506315,2011-11-27,MAC000174,30.298,13.54,5.48,0.72
3506316,2011-11-27,MAC000162,3.500,13.54,5.48,0.72
3506317,2011-11-27,MAC000178,19.171,13.54,5.48,0.72

In [81]:
holiday = pd.read_csv(r"D:\VIT\Semester-7 (Fall)\CSE1901 - Capstone Project\Dataset\uk_bank_holidays.csv")
holiday['Bank holidays'] = pd.to_datetime(holiday['Bank holidays'],format='%Y-%m-%d').dt.date
holiday.head()

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

In [82]:
import numpy as np

In [83]:
weather_energy = weather_energy.merge(holiday, left_on='day', right_on='Bank holidays', how='left')
weather_energy['holiday_ind'] = np.where(weather_energy['Bank holidays'].isna(),0,1)
weather_energy

,day,LCLid,energy_sum,temperatureMax,windSpeed,humidity,Bank holidays,Type,holiday_ind
0,2012-10-12,MAC000002,7.098,11.53,2.18,0.84,NaN,NaN,0
1,2012-10-12,MAC000246,17.245,11.53,2.18,0.84,NaN,NaN,0
2,2012-10-12,MAC000450,91.267,11.53,2.18,0.84,NaN,NaN,0
3,2012-10-12,MAC001074,23.145,11.53,2.18,0.84,NaN,NaN,0
4,2012-10-12,MAC003223,15.783,11.53,2.18,0.84,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
3506313,2011-11-27,MAC000154,8.905,13.54,5.48,0.72,NaN,NaN,0
3506314,2011-11-27,MAC000166,11.077,13.54,5.48,0.72,NaN,NaN,0
3506315,2011-11-27,MAC000174,30.298,13.54,5.48,0.72,NaN,NaN,0
3506316,2011-11-27,MAC000162,3.500,13.54,5.48,0.72,NaN,NaN,0
3506317,2011-11-27,MAC000178,19.171,13.54,5.48,0.72,NaN,NaN,0

In [84]:
weather_energy['holiday_ind'] = weather_energy.apply(lambda row: row['day'].weekday(), axis=1)
weather_energy['holiday_ind'] = (weather_energy['holiday_ind'] >= 5).astype(int)
weather_energy

,day,LCLid,energy_sum,temperatureMax,windSpeed,humidity,Bank holidays,Type,holiday_ind
0,2012-10-12,MAC000002,7.098,11.53,2.18,0.84,NaN,NaN,0
1,2012-10-12,MAC000246,17.245,11.53,2.18,0.84,NaN,NaN,0
2,2012-10-12,MAC000450,91.267,11.53,2.18,0.84,NaN,NaN,0
3,2012-10-12,MAC001074,23.145,11.53,2.18,0.84,NaN,NaN,0
4,2012-10-12,MAC003223,15.783,11.53,2.18,0.84,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
3506313,2011-11-27,MAC000154,8.905,13.54,5.48,0.72,NaN,NaN,1
3506314,2011-11-27,MAC000166,11.077,13.54,5.48,0.72,NaN,NaN,1
3506315,2011-11-27,MAC000174,30.298,13.54,5.48,0.72,NaN,NaN,1
3506316,2011-11-27,MAC000162,3.500,13.54,5.48,0.72,NaN,NaN,1
3506317,2011-11-27,MAC000178,19.171,13.54,5.48,0.72,NaN,NaN,1

In [85]:
weather_energy = weather_energy.drop(['Bank holidays', 'Type'], axis=1)
weather_energy

,day,LCLid,energy_sum,temperatureMax,windSpeed,humidity,holiday_ind
0,2012-10-12,MAC000002,7.098,11.53,2.18,0.84,0
1,2012-10-12,MAC000246,17.245,11.53,2.18,0.84,0
2,2012-10-12,MAC000450,91.267,11.53,2.18,0.84,0
3,2012-10-12,MAC001074,23.145,11.53,2.18,0.84,0
4,2012-10-12,MAC003223,15.783,11.53,2.18,0.84,0
...,...,...,...,...,...,...,...
3506313,2011-11-27,MAC000154,8.905,13.54,5.48,0.72,1
3506314,2011-11-27,MAC000166,11.077,13.54,5.48,0.72,1
3506315,2011-11-27,MAC000174,30.298,13.54,5.48,0.72,1
3506316,2011-11-27,MAC000162,3.500,13.54,5.48,0.72,1
3506317,2011-11-27,MAC000178,19.171,13.54,5.48,0.72,1

In [86]:
weather_energy.nunique()

day                  827
LCLid               5566
energy_sum        410427
temperatureMax       678
windSpeed            456
humidity              49
holiday_ind            2
dtype: int64

In [87]:
house_clusters.nunique()

LCLid            3059
energy_avg       3059
temp_avg          786
humidity_avg      775
windspeed_avg     786
holiday_avg       500
clusters            6
dtype: int64

In [88]:
houses_cluster_reference = {}
# for i in range(k):
#     houses_cluster_reference[i] = []
# houses_cluster_reference

In [89]:
house_clusters.head()

,LCLid,energy_avg,temp_avg,humidity_avg,windspeed_avg,holiday_avg,clusters
0,MAC001958,6.106586,14.273594,0.779569,3.595511,0.282748,0
1,MAC004777,6.157570,14.342633,0.778374,3.593223,0.283453,0
2,MAC002078,6.079942,14.250853,0.779952,3.593671,0.283414,0
3,MAC004753,5.757426,14.345251,0.778336,3.592496,0.282640,0
4,MAC001999,5.595885,14.275648,0.779392,3.599104,0.283200,0

In [90]:
# groups_of_houses = house_clusters.groupby('clusters')
for i in range(len(house_clusters)):
    # houses_cluster_reference[i] = list(groups_of_houses.get_group(i)["LCLid"])
    houses_cluster_reference[house_clusters["LCLid"][i]] = house_clusters["clusters"][i]
houses_cluster_reference

{'MAC001958': 0,
 'MAC004777': 0,
 'MAC002078': 0,
 'MAC004753': 0,
 'MAC001999': 0,
 'MAC004737': 0,
 'MAC001985': 0,
 'MAC001919': 0,
 'MAC004796': 0,
 'MAC001992': 0,
 'MAC001871': 0,
 'MAC004733': 0,
 'MAC004764': 0,
 'MAC002010': 0,
 'MAC001967': 0,
 'MAC001922': 0,
 'MAC001977': 0,
 'MAC002016': 0,
 'MAC004784': 0,
 'MAC001964': 0,
 'MAC000599': 0,
 'MAC004759': 0,
 'MAC001930': 0,
 'MAC004800': 0,
 'MAC004829': 0,
 'MAC002030': 0,
 'MAC001617': 0,
 'MAC002006': 0,
 'MAC002066': 0,
 'MAC004837': 0,
 'MAC004819': 0,
 'MAC001931': 0,
 'MAC004728': 0,
 'MAC004801': 0,
 'MAC002127': 0,
 'MAC002130': 0,
 'MAC002057': 0,
 'MAC001963': 0,
 'MAC001949': 0,
 'MAC002113': 0,
 'MAC001993': 0,
 'MAC002114': 0,
 'MAC004744': 0,
 'MAC004820': 0,
 'MAC004804': 0,
 'MAC002054': 0,
 'MAC004789': 0,
 'MAC004835': 0,
 'MAC001961': 0,
 'MAC001943': 0,
 'MAC000568': 0,
 'MAC004812': 0,
 'MAC004792': 0,
 'MAC004791': 0,
 'MAC002086': 0,
 'MAC001883': 0,
 'MAC000575': 0,
 'MAC004790': 0,
 'MAC001938': 0,
 'MAC000620': 0,
 'MAC004825': 0,
 'MAC002026': 0,
 'MAC000553': 0,
 'MAC002047': 0,
 'MAC002063': 0,
 'MAC004821': 0,
 'MAC000579': 0,
 'MAC001886': 0,
 'MAC002090': 0,
 'MAC002116': 0,
 'MAC001971': 0,
 'MAC002144': 0,
 'MAC002107': 0,
 'MAC004824': 0,
 'MAC001960': 0,
 'MAC000598': 0,
 'MAC002098': 0,
 'MAC000972': 0,
 'MAC002142': 0,
 'MAC004779': 0,
 'MAC004844': 0,
 'MAC001616': 0,
 'MAC001905': 0,
 'MAC005065': 0,
 'MAC002096': 0,
 'MAC001903': 0,
 'MAC001624': 0,
 'MAC001962': 0,
 'MAC002022': 0,
 'MAC000560': 0,
 'MAC002182': 0,
 'MAC002077': 0,
 'MAC005443': 0,
 'MAC002139': 0,
 'MAC004794': 0,
 'MAC004811': 0,
 'MAC000565': 0,
 'MAC000702': 0,
 'MAC004772': 0,
 'MAC001990': 0,
 'MAC000658': 0,
 'MAC004783': 0,
 'MAC001680': 0,
 'MAC000868': 0,
 'MAC000816': 0,
 'MAC005493': 0,
 'MAC000538': 0,
 'MAC001900': 0,
 'MAC002189': 0,
 'MAC001833': 0,
 'MAC000611': 0,
 'MAC002160': 0,
 'MAC002009': 0,
 'MAC001997': 0,
 'MAC001695': 0,
 'MAC000891': 0,
 'MAC002045': 0,
 'MAC002356': 0,
 'MAC004774': 0,
 'MAC001880': 0,
 'MAC001975': 0,
 'MAC001840': 0,
 'MAC005450': 0,
 'MAC002044': 0,
 'MAC004740': 0,
 'MAC002013': 0,
 'MAC000847': 0,
 'MAC001607': 0,
 'MAC002126': 0,
 'MAC002091': 0,
 'MAC003041': 0,
 'MAC002434': 0,
 'MAC001586': 0,
 'MAC004322': 0,
 'MAC001584': 0,
 'MAC002109': 0,
 'MAC001492': 0,
 'MAC001875': 0,
 'MAC002172': 0,
 'MAC000655': 0,
 'MAC000657': 0,
 'MAC000609': 0,
 'MAC004758': 0,
 'MAC002470': 0,
 'MAC004807': 0,
 'MAC000944': 0,
 'MAC001942': 0,
 'MAC001008': 0,
 'MAC000955': 0,
 'MAC002193': 0,
 'MAC002431': 0,
 'MAC000529': 0,
 'MAC000589': 0,
 'MAC004761': 0,
 'MAC000974': 0,
 'MAC005142': 0,
 'MAC001640': 0,
 'MAC002399': 0,
 'MAC000559': 0,
 'MAC000814': 0,
 'MAC001652': 0,
 'MAC001660': 0,
 'MAC000913': 0,
 'MAC000962': 0,
 'MAC002400': 0,
 'MAC001847': 0,
 'MAC000877': 0,
 'MAC001638': 0,
 'MAC004788': 0,
 'MAC002357': 0,
 'MAC004312': 0,
 'MAC005436': 0,
 'MAC000531': 0,
 'MAC001996': 0,
 'MAC000601': 0,
 'MAC002468': 0,
 'MAC001605': 0,
 'MAC000989': 0,
 'MAC002055': 0,
 'MAC001845': 0,
 'MAC000997': 0,
 'MAC001854': 0,
 'MAC005546': 0,
 'MAC002177': 0,
 'MAC002061': 0,
 'MAC005431': 0,
 'MAC000838': 0,
 'MAC000594': 0,
 'MAC001826': 0,
 'MAC000909': 0,
 'MAC002383': 0,
 'MAC001609': 0,
 'MAC001007': 0,
 'MAC001667': 0,
 'MAC000980': 0,
 'MAC000842': 0,
 'MAC004243': 0,
 'MAC003059': 0,
 'MAC002384': 0,
 'MAC001674': 0,
 'MAC004318': 0,
 'MAC002406': 0,
 'MAC002477': 0,
 'MAC000979': 0,
 'MAC000649': 0,
 'MAC004302': 0,
 'MAC001844': 0,
 'MAC000923': 0,
 'MAC000953': 0,
 'MAC002419': 0,
 'MAC002386': 0,
 'MAC000710': 0,
 'MAC002067': 0,
 'MAC000723': 0,
 'MAC000533': 0,
 'MAC002375': 0,
 'MAC001628': 0,
 'MAC000013': 0,
 'MAC001006': 0,
 'MAC001672': 0,
 'MAC000660': 0,
 'MAC000563': 0,
 'MAC004305': 0,
 'MAC000763': 0,
 'MAC002075': 0,
 'MAC001041': 0,
 'MAC001778': 0,
 'MAC002646': 0,
 'MAC002616': 0,
 'MAC001035': 0,
 'MAC005520': 0,
 'MAC000662': 0,
 'MAC001868': 0,
 'MAC000590': 0,
 'MAC000880': 0,
 'MAC001637': 0,
 'MAC000849': 0,
 'MAC004301': 0,
 'MAC000984': 0,
 'MAC000821': 0,
 'MAC000804': 0,
 'MAC000773': 0,
 'MAC001042': 0,
 'MAC002638': 0,
 'MAC004219': 0,
 'MAC004252': 0,
 'MAC001980': 0,
 'MAC001954': 0,
 'MAC000771': 0,
 'MAC000783': 0,
 'MAC001825': 0,
 'MAC000789': 0,
 'MAC004281': 0,
 'MAC004215': 0,
 'MAC000781': 0,
 'MAC005534': 0,
 'MAC000744': 0,
 'MAC001490': 0,
 'MAC001353': 0,
 'MAC000772': 0,
 'MAC005527': 0,
 'MAC002360': 0,
 'MAC001812': 0,
 'MAC000782': 0,
 'MAC001374': 0,
 'MAC000675': 0,
 'MAC004294': 0,
 'MAC000578': 0,
 'MAC001816': 0,
 'MAC002161': 0,
 'MAC001797': 0,
 'MAC000514': 0,
 'MAC000910': 0,
 'MAC003098': 0,
 'MAC000748': 0,
 'MAC003043': 0,
 'MAC000685': 0,
 'MAC002226': 0,
 'MAC001551': 0,
 'MAC001444': 0,
 'MAC001585': 0,
 'MAC002003': 0,
 'MAC001670': 0,
 'MAC005157': 0,
 'MAC000922': 0,
 'MAC005135': 0,
 'MAC005147': 0,
 'MAC001244': 0,
 'MAC000623': 0,
 'MAC001053': 0,
 'MAC001197': 0,
 'MAC001659': 0,
 'MAC001807': 0,
 'MAC002230': 0,
 'MAC001552': 0,
 'MAC000699': 0,
 'MAC000698': 0,
 'MAC002095': 0,
 'MAC005161': 0,
 'MAC001678': 0,
 'MAC000973': 0,
 'MAC001501': 0,
 'MAC001489': 0,
 'MAC001481': 0,
 'MAC001890': 0,
 'MAC002453': 0,
 'MAC001779': 0,
 'MAC001277': 0,
 'MAC001517': 0,
 'MAC001238': 0,
 'MAC002457': 0,
 'MAC004253': 0,
 'MAC001540': 0,
 'MAC004238': 0,
 'MAC005132': 0,
 'MAC004273': 0,
 'MAC000812': 0,
 'MAC001810': 0,
 'MAC005120': 0,
 'MAC003086': 0,
 'MAC003125': 0,
 'MAC002065': 0,
 'MAC005487': 0,
 'MAC003060': 0,
 'MAC001817': 0,
 'MAC002202': 0,
 'MAC000640': 0,
 'MAC001325': 0,
 'MAC005463': 0,
 'MAC001322': 0,
 'MAC003052': 0,
 'MAC004211': 0,
 'MAC005438': 0,
 'MAC001525': 0,
 'MAC002340': 0,
 'MAC003049': 0,
 'MAC001365': 0,
 'MAC001509': 0,
 'MAC000845': 0,
 'MAC004237': 0,
 'MAC001934': 0,
 'MAC005130': 0,
 'MAC003008': 0,
 'MAC002735': 0,
 'MAC005503': 0,
 'MAC005515': 0,
 'MAC002041': 0,
 'MAC002255': 0,
 'MAC001010': 0,
 'MAC001210': 0,
 'MAC001568': 0,
 'MAC001273': 0,
 'MAC002285': 0,
 'MAC001512': 0,
 'MAC002687': 0,
 'MAC002656': 0,
 'MAC003105': 0,
 'MAC001702': 0,
 'MAC004268': 0,
 'MAC005469': 0,
 'MAC001216': 0,
 'MAC000854': 0,
 'MAC005505': 0,
 'MAC001503': 0,
 'MAC002390': 0,
 'MAC002108': 0,
 'MAC001302': 0,
 'MAC004264': 0,
 'MAC002700': 0,
 'MAC002277': 0,
 'MAC003080': 0,
 'MAC001449': 0,
 'MAC001402': 0,
 'MAC004782': 0,
 'MAC000518': 0,
 'MAC005448': 0,
 'MAC002860': 0,
 'MAC005136': 0,
 'MAC000543': 0,
 'MAC001974': 0,
 'MAC003047': 0,
 'MAC004094': 0,
 'MAC001321': 0,
 'MAC002659': 0,
 'MAC004073': 0,
 'MAC005058': 0,
 'MAC002455': 0,
 'MAC002866': 0,
 'MAC001553': 0,
 'MAC001500': 0,
 'MAC002833': 0,
 'MAC001194': 0,
 'MAC005083': 0,
 'MAC000924': 0,
 'MAC002854': 0,
 'MAC002198': 0,
 'MAC000897': 0,
 'MAC000943': 0,
 'MAC001384': 0,
 'MAC001314': 0,
 'MAC000822': 0,
 'MAC005098': 0,
 'MAC001236': 0,
 'MAC003055': 0,
 'MAC000918': 0,
 'MAC001431': 0,
 'MAC002178': 0,
 'MAC001543': 0,
 'MAC001704': 0,
 'MAC001318': 0,
 'MAC005479': 0,
 'MAC002843': 0,
 'MAC001247': 0,
 'MAC002268': 0,
 'MAC001589': 0,
 'MAC002261': 0,
 'MAC002322': 0,
 'MAC002131': 0,
 'MAC000846': 0,
 'MAC002205': 0,
 'MAC003019': 0,
 'MAC001260': 0,
 'MAC002689': 0,
 'MAC000869': 0,
 'MAC001645': 0,
 'MAC003044': 0,
 'MAC004210': 0,
 'MAC001573': 0,
 'MAC000958': 0,
 'MAC002691': 0,
 'MAC002334': 0,
 'MAC005085': 0,
 'MAC001687': 0,
 'MAC004229': 0,
 'MAC002372': 0,
 'MAC003069': 0,
 'MAC001907': 0,
 'MAC002262': 0,
 'MAC001185': 0,
 'MAC004156': 0,
 'MAC001363': 0,
 'MAC001038': 0,
 'MAC002827': 0,
 'MAC004134': 0,
 'MAC002729': 0,
 'MAC002461': 0,
 'MAC001212': 0,
 'MAC002069': 0,
 'MAC005457': 0,
 'MAC005432': 0,
 'MAC002185': 0,
 'MAC005540': 0,
 'MAC005060': 0,
 'MAC001188': 0,
 'MAC001441': 0,
 'MAC002046': 0,
 'MAC001770': 0,
 'MAC003046': 0,
 'MAC000766': 0,
 'MAC005082': 0,
 'MAC002308': 0,
 'MAC004148': 0,
 'MAC004165': 0,
 'MAC002307': 0,
 'MAC005086': 0,
 'MAC001472': 0,
 'MAC002245': 0,
 'MAC000956': 0,
 'MAC001969': 0,
 'MAC003038': 0,
 'MAC002837': 0,
 'MAC005548': 0,
 'MAC005501': 0,
 'MAC001888': 0,
 'MAC001254': 0,
 'MAC004194': 0,
 'MAC005467': 0,
 'MAC004220': 0,
 'MAC000837': 0,
 'MAC002813': 0,
 'MAC004169': 0,
 'MAC003087': 0,
 'MAC001383': 0,
 'MAC002101': 0,
 'MAC004793': 0,
 'MAC000315': 0,
 'MAC000991': 0,
 'MAC001274': 0,
 'MAC002685': 0,
 'MAC005485': 0,
 'MAC002309': 0,
 'MAC003058': 0,
 'MAC000542': 0,
 'MAC004152': 0,
 'MAC004081': 0,
 'MAC001841': 0,
 'MAC004166': 0,
 'MAC001827': 0,
 'MAC004090': 0,
 'MAC001897': 0,
 'MAC000810': 0,
 'MAC002699': 0,
 'MAC004190': 0,
 'MAC001459': 0,
 'MAC000727': 0,
 'MAC001108': 0,
 'MAC001453': 0,
 'MAC005544': 0,
 'MAC001535': 0,
 'MAC000841': 0,
 'MAC001508': 0,
 'MAC004089': 0,
 'MAC002615': 0,
 'MAC000696': 0,
 'MAC002861': 0,
 'MAC002117': 0,
 'MAC002816': 0,
 'MAC001485': 0,
 'MAC002657': 0,
 'MAC004077': 0,
 'MAC000591': 0,
 'MAC000746': 0,
 'MAC004116': 0,
 'MAC005456': 0,
 'MAC001316': 0,
 'MAC002467': 0,
 'MAC005177': 0,
 'MAC001148': 0,
 'MAC002195': 0,
 'MAC004745': 0,
 'MAC001297': 0,
 'MAC001754': 0,
 'MAC000786': 0,
 'MAC002798': 0,
 'MAC001266': 0,
 'MAC002435': 0,
 'MAC004113': 0,
 'MAC002737': 0,
 'MAC001097': 0,
 'MAC000915': 0,
 'MAC004259': 0,
 'MAC003111': 0,
 'MAC004143': 0,
 'MAC005525': 0,
 'MAC002289': 0,
 'MAC001317': 0,
 'MAC002123': 0,
 'MAC002188': 0,
 'MAC000510': 0,
 'MAC004289': 0,
 'MAC000683': 0,
 'MAC001058': 0,
 'MAC001105': 0,
 'MAC002654': 0,
 'MAC000914': 0,
 'MAC001741': 0,
 'MAC002731': 0,
 'MAC004245': 0,
 'MAC002733': 0,
 'MAC001022': 0,
 'MAC000624': 0,
 'MAC001848': 0,
 'MAC001944': 0,
 'MAC001658': 0,
 'MAC001475': 0,
 'MAC002299': 0,
 'MAC001186': 0,
 'MAC001697': 0,
 'MAC001759': 0,
 'MAC001072': 0,
 'MAC001091': 0,
 'MAC001457': 0,
 'MAC001083': 0,
 'MAC004233': 0,
 'MAC000716': 0,
 'MAC001474': 0,
 'MAC000890': 0,
 'MAC002677': 0,
 'MAC004799': 0,
 'MAC001100': 0,
 'MAC001068': 0,
 'MAC003116': 0,
 'MAC001494': 0,
 'MAC001773': 0,
 'MAC000764': 0,
 'MAC002427': 0,
 'MAC000926': 0,
 'MAC001191': 0,
 'MAC001409': 0,
 'MAC001795': 0,
 'MAC005481': 0,
 'MAC001094': 0,
 'MAC002789': 0,
 'MAC001785': 0,
 'MAC001806': 0,
 'MAC002857': 0,
 'MAC001023': 0,
 'MAC001331': 0,
 'MAC001757': 0,
 'MAC001269': 0,
 'MAC002631': 0,
 'MAC003131': 0,
 'MAC002211': 0,
 'MAC002977': 0,
 'MAC004141': 0,
 'MAC002345': 0,
 'MAC004118': 0,
 'MAC002745': 0,
 'MAC000969': 0,
 'MAC001285': 0,
 'MAC001156': 0,
 'MAC002701': 0,
 'MAC000680': 0,
 'MAC001796': 0,
 'MAC001729': 0,
 'MAC004306': 0,
 'MAC002071': 0,
 'MAC004108': 0,
 'MAC001386': 0,
 'MAC003077': 0,
 'MAC001884': 0,
 'MAC000502': 0,
 'MAC004300': 0,
 'MAC005537': 0,
 'MAC005554': 0,
 'MAC004109': 0,
 'MAC002459': 0,
 'MAC001233': 0,
 'MAC003066': 0,
 'MAC005471': 0,
 'MAC001881': 0,
 'MAC005102': 0,
 'MAC000613': 0,
 'MAC000503': 0,
 'MAC000515': 0,
 'MAC003036': 0,
 'MAC002756': 0,
 'MAC003093': 0,
 'MAC001663': 0,
 'MAC002282': 0,
 'MAC001684': 0,
 'MAC005163': 0,
 'MAC002710': 0,
 'MAC005115': 0,
 'MAC002764': 0,
 'MAC000722': 0,
 'MAC000552': 0,
 'MAC001815': 0,
 'MAC003015': 0,
 'MAC001003': 0,
 'MAC001178': 0,
 'MAC005066': 0,
 'MAC004296': 0,
 'MAC000859': 0,
 'MAC001140': 0,
 'MAC002129': 0,
 'MAC001206': 0,
 'MAC004097': 0,
 'MAC000975': 0,
 'MAC005071': 0,
 'MAC001904': 0,
 'MAC001731': 0,
 'MAC004818': 0,
 'MAC001027': 0,
 'MAC000936': 0,
 'MAC002266': 0,
 'MAC001776': 0,
 'MAC003079': 0,
 'MAC002738': 0,
 'MAC002288': 0,
 'MAC002017': 0,
 'MAC002721': 0,
 'MAC003106': 0,
 'MAC001001': 0,
 'MAC005524': 0,
 'MAC004246': 0,
 'MAC001230': 0,
 'MAC004079': 0,
 'MAC004138': 0,
 'MAC001929': 0,
 'MAC003045': 0,
 'MAC001173': 0,
 'MAC000574': 0,
 'MAC000928': 0,
 'MAC002318': 0,
 'MAC002173': 0,
 'MAC001056': 0,
 'MAC002279': 0,
 'MAC001172': 0,
 'MAC001037': 0,
 'MAC005439': 0,
 'MAC002826': 0,
 'MAC000767': 0,
 'MAC002806': 0,
 'MAC000820': 0,
 'MAC004185': 0,
 'MAC005167': 0,
 'MAC002154': 0,
 'MAC002788': 0,
 'MAC001264': 0,
 'MAC001069': 0,
 'MAC001307': 0,
 'MAC005053': 0,
 'MAC001554': 0,
 'MAC003011': 0,
 'MAC000499': 0,
 'MAC000684': 0,
 'MAC002311': 0,
 'MAC004136': 0,
 'MAC000793': 0,
 'MAC002274': 0,
 'MAC004206': 0,
 'MAC004827': 0,
 'MAC003084': 0,
 'MAC002297': 0,
 'MAC002870': 0,
 'MAC002229': 0,
 'MAC004168': 0,
 'MAC001034': 0,
 'MAC002303': 0,
 'MAC002797': 0,
 'MAC001340': 0,
 'MAC001163': 0,
 'MAC004088': 0,
 'MAC001061': 0,
 'MAC001103': 0,
 'MAC001438': 0,
 'MAC001916': 0,
 'MAC002331': 0,
 'MAC001170': 0,
 'MAC003029': 0,
 'MAC001153': 0,
 'MAC002712': 0,
 'MAC004748': 0,
 'MAC002803': 0,
 'MAC002347': 0,
 'MAC004765': 0,
 'MAC003023': 0,
 'MAC001555': 0,
 'MAC001447': 0,
 'MAC002464': 0,
 'MAC001223': 0,
 'MAC004314': 0,
 'MAC004145': 0,
 'MAC001527': 0,
 'MAC002033': 0,
 'MAC001557': 0,
 'MAC002159': 0,
 'MAC000677': 0,
 'MAC004154': 0,
 'MAC000761': 0,
 'MAC005137': 0,
 'MAC003115': 0,
 'MAC000887': 0,
 'MAC000674': 0,
 'MAC002831': 0,
 'MAC002772': 0,
 'MAC004191': 0,
 'MAC001063': 0,
 'MAC002008': 0,
 'MAC002975': 0,
 'MAC001772': 0,
 'MAC002984': 0,
 'MAC001480': 0,
 'MAC001740': 0,
 'MAC000853': 0,
 'MAC002981': 0,
 'MAC002104': 0,
 'MAC002676': 0,
 'MAC000976': 0,
 'MAC000903': 0,
 'MAC001399': 0,
 'MAC003021': 0,
 'MAC004717': 0,
 'MAC005466': 0,
 'MAC001319': 0,
 'MAC001414': 0,
 'MAC004096': 0,
 'MAC000444': 0,
 'MAC001915': 0,
 'MAC002935': 0,
 'MAC003003': 0,
 'MAC002623': 0,
 'MAC001143': 0,
 'MAC000708': 0,
 'MAC002987': 0,
 'MAC003103': 0,
 'MAC005114': 0,
 'MAC002917': 0,
 'MAC002786': 0,
 'MAC005528': 0,
 'MAC001750': 0,
 'MAC001177': 0,
 'MAC004254': 0,
 'MAC001545': 0,
 'MAC001262': 0,
 'MAC002643': 0,
 'MAC005426': 0,
 'MAC002902': 0,
 'MAC005433': 0,
 'MAC005168': 0,
 'MAC003013': 0,
 'MAC000705': 0,
 'MAC001126': 0,
 'MAC002777': 0,
 'MAC001894': 0,
 'MAC002748': 0,
 'MAC000864': 0,
 'MAC002474': 0,
 'MAC002336': 0,
 'MAC004445': 0,
 'MAC001241': 0,
 'MAC005089': 0,
 'MAC002365': 0,
 'MAC004291': 0,
 'MAC000777': 0,
 'MAC002162': 0,
 'MAC005547': 0,
 'MAC000663': 0,
 'MAC005462': 0,
 'MAC002932': 0,
 'MAC001918': 0,
 'MAC000617': 0,
 'MAC004315': 0,
 'MAC000672': 0,
 'MAC002276': 0,
 'MAC000945': 0,
 'MAC001213': 0,
 'MAC002812': 0,
 'MAC004738': 0,
 'MAC001448': 0,
 'MAC001849': 0,
 'MAC001496': 0,
 'MAC005121': 0,
 'MAC000967': 0,
 'MAC001263': 0,
 'MAC003082': 0,
 'MAC002248': 0,
 'MAC002221': 0,
 'MAC002877': 0,
 'MAC001686': 0,
 'MAC001222': 0,
 'MAC000732': 0,
 'MAC000740': 0,
 'MAC005169': 0,
 'MAC001533': 0,
 'MAC003048': 0,
 'MAC005529': 0,
 'MAC001327': 0,
 'MAC004836': 0,
 'MAC000581': 0,
 'MAC004230': 0,
 'MAC003091': 0,
 'MAC004164': 0,
 'MAC001086': 0,
 'MAC001566': 0,
 'MAC005519': 0,
 'MAC002662': 0,
 'MAC002875': 0,
 'MAC001877': 0,
 'MAC003936': 0,
 'MAC002239': 0,
 'MAC004177': 0,
 'MAC002366': 0,
 'MAC004298': 0,
 'MAC000776': 0,
 'MAC001049': 0,
 'MAC000843': 0,
 'MAC002954': 0,
 'MAC003083': 0,
 'MAC001276': 0,
 'MAC001738': 0,
 'MAC001482': 0,
 'MAC002945': 0,
 'MAC000805': 0,
 'MAC000717': 0,
 'MAC001433': 0,
 'MAC001798': 0,
 'MAC001606': 0,
 'MAC002720': 0,
 'MAC004288': 0,
 'MAC002440': 0,
 'MAC005051': 0,
 'MAC002891': 0,
 'MAC005149': 0,
 'MAC002219': 0,
 'MAC002456': 0,
 'MAC002938': 0,
 'MAC001298': 0,
 'MAC002391': 0,
 'MAC000588': 0,
 'MAC004005': 0,
 'MAC004043': 0,
 'MAC003971': 0,
 'MAC001401': 0,
 'MAC003050': 0,
 'MAC004003': 0,
 'MAC002822': 0,
 'MAC002000': 0,
 'MAC000798': 0,
 'MAC001406': 0,
 'MAC001965': 0,
 'MAC003094': 0,
 'MAC002715': 0,
 'MAC005141': 0,
 'MAC001520': 0,
 'MAC002146': 0,
 'MAC000701': 0,
 'MAC001876': 0,
 'MAC004163': 0,
 'MAC003994': 0,
 'MAC002963': 0,
 'MAC002346': 0,
 'MAC002479': 0,
 'MAC002287': 0,
 'MAC000676': 0,
 'MAC003954': 0,
 'MAC003980': 0,
 'MAC002424': 0,
 'MAC002387': 0,
 'MAC001084': 0,
 'MAC001149': 0,
 'MAC002149': 0,
 'MAC001000': 0,
 'MAC000496': 0,
 'MAC002914': 0,
 'MAC003982': 0,
 'MAC004716': 1,
 'MAC002112': 1,
 'MAC002102': 1,
 'MAC004742': 1,
 'MAC001909': 1,
 'MAC004725': 1,
 'MAC004757': 1,
 'MAC004741': 1,
 'MAC002042': 1,
 'MAC002132': 1,
 'MAC001885': 1,
 'MAC002032': 1,
 'MAC001926': 1,
 'MAC004734': 1,
 'MAC002194': 1,
 'MAC000573': 1,
 'MAC004840': 1,
 'MAC001981': 1,
 'MAC004746': 1,
 'MAC002145': 1,
 'MAC000621': 1,
 'MAC001973': 1,
 'MAC002100': 1,
 'MAC001625': 1,
 'MAC002062': 1,
 'MAC000524': 1,
 'MAC001626': 1,
 'MAC000525': 1,
 'MAC002164': 1,
 'MAC000996': 1,
 'MAC001703': 1,
 'MAC001818': 1,
 'MAC002037': 1,
 'MAC002094': 1,
 'MAC002165': 1,
 'MAC001604': 1,
 'MAC000650': 1,
 'MAC004720': 1,
 'MAC000629': 1,
 'MAC001588': 1,
 'MAC004313': 1,
 'MAC002150': 1,
 'MAC000625': 1,
 'MAC000299': 1,
 'MAC004809': 1,
 'MAC002122': 1,
 'MAC001835': 1,
 'MAC001598': 1,
 'MAC001643': 1,
 'MAC002170': 1,
 'MAC002029': 1,
 'MAC000889': 1,
 'MAC002082': 1,
 'MAC005543': 1,
 'MAC001793': 1,
 'MAC000642': 1,
 'MAC000866': 1,
 'MAC000835': 1,
 'MAC005144': 1,
 'MAC001620': 1,
 'MAC001853': 1,
 'MAC000654': 1,
 'MAC004207': 1,
 'MAC000566': 1,
 'MAC000673': 1,
 'MAC002084': 1,
 'MAC001669': 1,
 'MAC001813': 1,
 'MAC000682': 1,
 'MAC000720': 1,
 'MAC005165': 1,
 'MAC001031': 1,
 'MAC001611': 1,
 ...}

In [91]:
# temp = pd.DataFrame.from_dict(houses_cluster_reference, columns=["LCLid", "house_cluster"], orient='index')
LCLids = list(houses_cluster_reference.keys())
clusters = list(houses_cluster_reference.values())
temp = pd.DataFrame({"LCLid":LCLids, "house_cluster":clusters})
temp.head()

       LCLid  house_cluster
0  MAC001958              0
1  MAC004777              0
2  MAC002078              0
3  MAC004753              0
4  MAC001999              0

In [92]:
temp.nunique()

LCLid            3059
house_cluster       6
dtype: int64

In [93]:
df = pd.merge(weather_energy, temp, on="LCLid")
df

,day,LCLid,energy_sum,temperatureMax,windSpeed,humidity,holiday_ind,house_cluster
0,2012-10-12,MAC000002,7.098,11.53,2.18,0.84,0,2
1,2012-10-13,MAC000002,11.087,12.32,2.36,0.80,1,2
2,2012-10-14,MAC000002,13.223,13.03,2.97,0.84,1,2
3,2012-10-15,MAC000002,10.257,14.74,5.37,0.74,0,2
4,2012-10-16,MAC000002,9.769,16.60,4.66,0.82,0,2
...,...,...,...,...,...,...,...,...
1832217,2014-02-24,MAC003559,12.266,14.23,5.02,0.74,0,3
1832218,2014-02-25,MAC003559,15.885,11.43,5.69,0.78,0,3
1832219,2014-02-26,MAC003559,14.583,11.29,3.82,0.73,0,3
1832220,2014-02-27,MAC003559,10.734,10.31,4.14,0.74,0,3
1832221,2014-02-28,MAC003559,0.080,7.35,2.24,0.86,0,3

In [103]:
# total houses = 5566
# houses with NaN energy value = 5
# houses dropped for cluster 0, 1 = 2507 (2964+1392-927-927)
# total houses remaining = 3059

In [94]:
df.nunique()

day                  827
LCLid               3059
energy_sum        334056
temperatureMax       678
windSpeed            456
humidity              49
holiday_ind            2
house_cluster          6
dtype: int64

In [124]:
df.to_csv("3_total_with_clusters.csv")